.vscode/*
**/.DS_Store

**/pages_complete/*
**/corpus/*
**/corpus_complete/*
**/corpus*/*

**/corpus_tca.serialised/*
**/corpus.serialised/*

ch2_technology/data/sent_analysis_technology_tca.parquet
ch2_technology/data/sent_analysis_technology.parquet

