IPBES_TCA_Corpus.code-workspace

Inputs/**/*.pdf
Inputs/**/*.bib
Inputs/**/*.docx
*.eml
IPBES_TCA_Corpus_DMP_files/

**/pages/
**/corpus/
**/corpus_tc

data/tca_corpus/abstracts_tca.parquet

data/tca_corpus/tca_corpus.duckdb
