IPBES_TCA_Corpus.code-workspace

Inputs/**/*.pdf
Inputs/**/*.bib
Inputs/**/*.docx
*.eml
IPBES_TCA_Corpus_DMP_files/

**/pages/
**/pages_cases/
**/pages_strategies_**/
**/pages_actors_**/

**/corpus/
**/corpus_cases/
**/corpus_tc/

**/corpus_authors/
**/corpus_topics/
**/corpus as converted not cleaned/

data/tca_corpus/sectors.parquet
data/tca_corpus/abstracts_tca.parquet

data/tca_corpus/tca_corpus.duckdb
data/tca_corpus/tca_corpus_without_fts.duckdb
data/tca_corpus/tca_corpus*.duckdb

.vscode/settings.json
